/* ==============================================
   CSS 리셋 - 브라우저 기본 스타일 초기화
   [Step 3] CSS 기초
   ============================================== */

/* TODO: 모든 요소의 margin, padding을 0으로 초기화하고
   box-sizing을 border-box로 설정하세요
   힌트: *, *::before, *::after 선택자 사용 */


/* TODO: body에 최소 높이(100vh), line-height(1.5) 설정 */


/* TODO: img, svg 등 미디어 요소에 display: block, max-width: 100% 설정
   힌트: img, picture, video, canvas, svg */


/* TODO: input, button 등 폼 요소에 font: inherit 설정 */


/* TODO: a 태그의 밑줄 제거, 색상 상속 */


/* TODO: ul, ol 의 목록 스타일 제거 */


/* TODO: button의 기본 배경/테두리 제거, cursor: pointer 설정 */

